<!DOCTYPE html>
<html>
  <head>
    <title>CableEngine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>

    <script src="https://unpkg.com/stimulus/dist/stimulus.umd.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <% unless current_page?(root_path) %>
        <div><a href="/">Home</a></div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
